.app-container{
  display: flex;
}
.content{
  width: 100%;
}
.sidebar{
  height: 800px;
}

.post-card{
  width: 30rem;
  
   margin: 20px 50px;
}

.hashtag{
  margin: 0px 3px;
}
.reactions{
  margin: 15px 0 0 0 ;
}

.create-post{
  margin-top: 50px;
  width: 60%;
  margin-left: 20%;
}