.container{
  margin: 10px;
  background-color: rgba(220, 224, 225, 0.19);
  padding: 10px;
  /* min-width: 50%; */
  /* max-width: 60%; */
  /* width:1000px; */
  border: 1px solid black;
  border-radius: 10px;
  /* min-width:20%; */
}