.my-item{
  font-size: 0.9rem;
  color: rgb(80, 80, 80);
}
.my-row{
  background-color: rgba(0, 217, 233, 0.459);
  /* margin: 2px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.my-row:hover{
  background-color: rgba(167, 173, 175, 0.236);
}

.my-btn{
  float: right;
}