#root {
  /* margin: 0 auto; */
  /* padding: 2rem; */
  padding: 5px;
  margin: 90px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
}
