
.display{
  background-color: #ffffff;
  color: black;
  /* border: none; */
  font-size: 25px;
  height: 10%;
  padding: 5px;
  width: 90%;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: right;
}